<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>/::)</string>
		<key>content</key>
		<string>龇牙</string>
		<key>image</key>
		<string>001</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::P</string>
		<key>content</key>
		<string>调皮</string>
		<key>image</key>
		<string>002</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::L</string>
		<key>content</key>
		<string>无语</string>
		<key>image</key>
		<string>003</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:,@P</string>
		<key>content</key>
		<string>偷笑</string>
		<key>image</key>
		<string>004</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:bye</string>
		<key>content</key>
		<string>bye</string>
		<key>image</key>
		<string>005</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:xx</string>
		<key>content</key>
		<string>打击</string>
		<key>image</key>
		<string>006</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:wipe</string>
		<key>content</key>
		<string>擦汗</string>
		<key>image</key>
		<string>007</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:pig</string>
		<key>content</key>
		<string>猪</string>
		<key>image</key>
		<string>008</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:rose</string>
		<key>content</key>
		<string>鲜花</string>
		<key>image</key>
		<string>009</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::&lt;</string>
		<key>content</key>
		<string>大哭</string>
		<key>image</key>
		<string>010</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::’(</string>
		<key>content</key>
		<string>流泪</string>
		<key>image</key>
		<string>011</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:,@x</string>
		<key>content</key>
		<string>秘密</string>
		<key>image</key>
		<string>012</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::+</string>
		<key>content</key>
		<string>酷</string>
		<key>image</key>
		<string>013</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::Q</string>
		<key>content</key>
		<string>抓狂</string>
		<key>image</key>
		<string>014</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:P-(</string>
		<key>content</key>
		<string>委屈</string>
		<key>image</key>
		<string>015</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:shit</string>
		<key>content</key>
		<string>屎</string>
		<key>image</key>
		<string>016</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:bome</string>
		<key>content</key>
		<string>炸弹</string>
		<key>image</key>
		<string>017</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:pd</string>
		<key>content</key>
		<string>菜刀</string>
		<key>image</key>
		<string>018</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:,@-D</string>
		<key>content</key>
		<string>可爱</string>
		<key>image</key>
		<string>019</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::B</string>
		<key>content</key>
		<string>色</string>
		<key>image</key>
		<string>020</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::$</string>
		<key>content</key>
		<string>害羞</string>
		<key>image</key>
		<string>021</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:8-)</string>
		<key>content</key>
		<string>得意</string>
		<key>image</key>
		<string>022</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::T</string>
		<key>content</key>
		<string>吐</string>
		<key>image</key>
		<string>023</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::)</string>
		<key>content</key>
		<string>微笑</string>
		<key>image</key>
		<string>024</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::@</string>
		<key>content</key>
		<string>怒</string>
		<key>image</key>
		<string>025</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::-|</string>
		<key>content</key>
		<string>尴尬</string>
		<key>image</key>
		<string>026</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::!</string>
		<key>content</key>
		<string>恐惧</string>
		<key>image</key>
		<string>027</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:–b</string>
		<key>content</key>
		<string>冷汗</string>
		<key>image</key>
		<string>028</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:heart</string>
		<key>content</key>
		<string>心</string>
		<key>image</key>
		<string>029</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:showlove</string>
		<key>content</key>
		<string>唇</string>
		<key>image</key>
		<string>030</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::d</string>
		<key>content</key>
		<string>白眼</string>
		<key>image</key>
		<string>031</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:,@o</string>
		<key>content</key>
		<string>傲慢</string>
		<key>image</key>
		<string>032</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::(</string>
		<key>content</key>
		<string>难过</string>
		<key>image</key>
		<string>033</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::O</string>
		<key>content</key>
		<string>惊讶</string>
		<key>image</key>
		<string>034</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:?</string>
		<key>content</key>
		<string>疑问</string>
		<key>image</key>
		<string>035</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::Z</string>
		<key>content</key>
		<string>睡</string>
		<key>image</key>
		<string>036</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::*</string>
		<key>content</key>
		<string>亲</string>
		<key>image</key>
		<string>037</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::&gt;</string>
		<key>content</key>
		<string>憨笑</string>
		<key>image</key>
		<string>038</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:love</string>
		<key>content</key>
		<string>爱情</string>
		<key>image</key>
		<string>039</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:,@!</string>
		<key>content</key>
		<string>哀</string>
		<key>image</key>
		<string>040</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::~</string>
		<key>content</key>
		<string>伤心</string>
		<key>image</key>
		<string>041</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:X-)</string>
		<key>content</key>
		<string>阴险</string>
		<key>image</key>
		<string>042</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:,@f</string>
		<key>content</key>
		<string>努力</string>
		<key>image</key>
		<string>043</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::|</string>
		<key>content</key>
		<string>发呆</string>
		<key>image</key>
		<string>044</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:@&gt;</string>
		<key>content</key>
		<string>右哼哼</string>
		<key>image</key>
		<string>045</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:hug</string>
		<key>content</key>
		<string>抱一抱</string>
		<key>image</key>
		<string>046</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:B-)</string>
		<key>content</key>
		<string>坏笑</string>
		<key>image</key>
		<string>047</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:&lt;L&gt;</string>
		<key>content</key>
		<string>飞吻</string>
		<key>image</key>
		<string>048</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:&gt;-|</string>
		<key>content</key>
		<string>鄙视</string>
		<key>image</key>
		<string>049</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:,@@</string>
		<key>content</key>
		<string>晕</string>
		<key>image</key>
		<string>050</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/::,@</string>
		<key>content</key>
		<string>闲</string>
		<key>image</key>
		<string>051</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:8*</string>
		<key>content</key>
		<string>可怜</string>
		<key>image</key>
		<string>052</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:strong</string>
		<key>content</key>
		<string>强</string>
		<key>image</key>
		<string>053</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:weak</string>
		<key>content</key>
		<string>差劲</string>
		<key>image</key>
		<string>054</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:share</string>
		<key>content</key>
		<string>握手</string>
		<key>image</key>
		<string>055</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:v</string>
		<key>content</key>
		<string>胜利</string>
		<key>image</key>
		<string>056</string>
	</dict>
	<dict>
		<key>code</key>
		<string>/:@)</string>
		<key>content</key>
		<string>抱拳</string>
		<key>image</key>
		<string>057</string>
	</dict>
</array>
</plist>
